.App {
  text-align: center;
  background: #f0f2f5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mapsdiv {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

#hiddenchartdiv {
  width: 100%;
  max-width: 100%;
  height: 500px;
  visibility: hidden;
  position: absolute;
  top: 0px;
}

.card {
  bottom: 0px;
}

.text-success-red {
  color: red !important;
}

.alerticon {
  width: 18%;
  margin-top: 8%;
  margin-left: 10%;
}
.wftheading {
  margin-left: 15%;
  margin-top: 1%;
}

.lableClass {
  float: left;
  margin-left: 9%;
}

.liClass {
  width: 10%;
}
